  {{#if logged_in}}
    <nav>
      <button class="btn" id="logout">logout</button>
    </nav>
  {{/if}}
  <h6 class="card-subtitle text-body-secondary">Tricks Learned: <span id="learnedTricksCount"></span> {{learnedTricksCount}} / 15</h6>
  {{#each serializedTricks as |trick|}}
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="trick--"{{ trick.userId }}"-"{{ trick.id }} {{#if trick.completed}}checked{{/if}}/>
        <label class="form-check-label" for="trick-"{{ trick.userId }}"-"{{ trick.id }}>{{ trick.skate.name }}</label>
    </div>
  {{/each}}
  {{#if logged_in}}
    <script src="/js/logout.js"></script>
  {{/if}}