<head>
  <h2>Welcome to Skate 4</h2>
{{#if logged_in}}
  <nav>
    <button class="btn" id="logout">logout</button>
    <button id="saveBtn">Save</button>
  </nav>
{{/if}}


  <script src='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css' rel='stylesheet' />
    <style>
        #map {
            width: 100%;
            height: 400px;
        }
    </style>
</head>

<body>
    <div id='map'></div>

    <script>
        mapboxgl.accessToken = 'pk.eyJ1Ijoid2VzdG1hcnF1ZXN0IiwiYSI6ImNsdXYwN2c2MjBmODEya25rdHk1eGJmZWQifQ.JsH01jk9epEadQLke0zfbw';

        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [-118.475601, 33.987164],
            zoom: 13
        });

        // Add a marker
        new mapboxgl.Marker()
            .setLngLat([-118.475601, 33.987164])
            .addTo(map);
        new mapboxgl.Marker()
            .setLngLat([-118.4539684, 34.0380655])
            .addTo(map);
        new mapboxgl.Marker()
            .setLngLat([-118.34962532327167, 34.02502571917231])
            .addTo(map);
        new mapboxgl.Marker()
            .setLngLat([-118.28521650842607,34.06254654760537])
            .addTo(map);
        new mapboxgl.Marker()
            .setLngLat([-118.41464120449434,33.95941724936559])
            .addTo(map);
    </script>
<div id="level-display">
  <h2>Current Rank: {{ userRank }}</h2>
<img>  </img>
<head>
  <title>Skateboard Tricks</title>
  <style>
    .trick {
      margin-bottom: 10px;
    }
    .trick-name {
      font-weight: bold;
      display: inline-block;
      width: 150px;
    }
    .trick-description {
      display: inline-block;
      width: 400px;
    }
  </style>
</head>
<body>

<h1>Skateboard Tricks</h1>

<div id="tricks-container">
  {{#each serializedTricks as |trick|}}
    <div class="form-check">
        <input class="form-check-input trick-checkbox" type="checkbox" value={{trick.skateTrickId}} id="trick--{{ trick.userId }}-{{ trick.id }}" {{#if trick.completed}}checked{{/if}}/>
        <label class="form-check-label" for="trick--{{ trick.userId }}-{{ trick.id }}">{{ trick.skate.name }} - {{ trick.skate.description }}</label>    </div>
  {{/each}}
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{{#if logged_in}}
  <script src="/js/logout.js"></script>
{{/if}}
<script src="/js/dashboard.js"></script>
</body>

</html>